html {
    font-size: 10px;
    font-family: "Sansita-Swashed", cursive;
    background-color: #022686;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: var(--america-red);
    text-shadow: 3px 3px 5px black;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: var(--america-red);
}

.emphasize {
    line-height: 1;
    font-size: 24px;
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
}

* {
    --america-red: #b30707;
}